$mainColor: #5658ee;

$transition: all .2s ease-in-out;

$showAnimation: showElement .5s ease-in-out alternate;

@keyframes showElement {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes acceptBg {
  0% {
    background-color: rgba($mainColor, 1);
  }
  50% {
    background-color: rgba(75, 232, 121, 1);
  }
  100% {
    background-color: rgba($mainColor, 1);
  }
}


